# Environment variables
.env
*.env
config.env

# Dependencies
node_modules/
*/node_modules/

# Build files
/build
/dist
*/build
*/dist

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Security files
*.pem
*.key
*.cert

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
/coverage
*/coverage